<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.store.mapper.AdminMapper">
    <resultMap id="AdminEntityMap" type="com.cy.store.entity.Admin">
    </resultMap>


    <select id="findAdByUsername" resultMap="AdminEntityMap">
        SELECT
            *
        FROM
            admins
        WHERE
            username = #{username}
    </select>

    <update id="updatePhoto1">
        UPDATE
            t_product
        SET
            image1=#{image1}
        WHERE
            id=#{id}
    </update>
    <update id="updatePhoto2">
        UPDATE
            t_product
        SET
            image2=#{image2}
        WHERE
            id=#{id}
    </update>
    <update id="updatePhoto3">
        UPDATE
            t_product
        SET
            image3=#{image3}
        WHERE
            id=#{id}
    </update>
    <update id="updatePhoto4">
        UPDATE
            t_product
        SET
            image4=#{image4}
        WHERE
            id=#{id}
    </update>
    <update id="updatePhoto5">
        UPDATE
            t_product
        SET
            image5=#{image5}
        WHERE
            id=#{id}
    </update>

    <!-- 上传商品信息 -->
    <insert id="t_proInsert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_product (id, category_id, item_type, title, price,num, status, address)
        VALUES(#{id}, #{categoryId}, #{itemType}, #{title}, #{price}, #{num}, #{status}, #{address})
    </insert>

    <insert id="t_proInsertveId" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO vegetablePhoto (id)
        VALUE(#{id})
    </insert>

    <insert id="t_proInsertlvId" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO livestockPhoto (id)
        VALUE(#{id})
    </insert>


    <!-- 上传农产品详细信息 -->
    <insert id="ve_Insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            vegetable(id)
        VALUES(#{id})
    </insert>

    <!-- 上传牧产品详细信息 -->
    <insert id="lv_Insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            livestock(id)
        VALUES(#{id})
    </insert>

    <!-- 根据id删除商品 -->
    <delete id="t_proDelete">
        DELETE
        FROM
            t_product
        WHERE
            id=#{id}
    </delete>

    <delete id="vegeDelete">
        DELETE
        FROM
            vegetable
        WHERE
            id=#{id}
    </delete>

    <delete id="vegePhDelete">
        DELETE
        FROM
            vegetablePhoto
        WHERE
            id=#{id}
    </delete>

    <delete id="liveDelete">
        DELETE
        FROM
            livestock
        WHERE
            id=#{id}
    </delete>

    <delete id="livePhDelete">
        DELETE
        FROM
            livestockPhoto
        WHERE
            id=#{id}
    </delete>

    <!-- 根据id上传蔬菜溯源图片 -->
    <update id="updateVegetablePhoto1">
        UPDATE
            vegetablePhoto
        SET
            str_1 = #{str_1}
        WHERE
            id=#{id}
    </update>
    <update id="updateVegetablePhoto2">
        UPDATE
            vegetablePhoto
        SET
            str_2=#{str_2}
        WHERE
            id=#{id}
    </update>
    <update id="updateVegetablePhoto3">
        UPDATE
            vegetablePhoto
        SET
            str_3=#{str_3}
        WHERE
            id=#{id}
    </update>
    <update id="updateVegetablePhoto4">
        UPDATE
            vegetablePhoto
        SET
            str_4=#{str_4}
        WHERE
            id=#{id}
    </update>
    <update id="updateVegetablePhoto5">
        UPDATE
            vegetablePhoto
        SET
            str_5=#{str_5}
        WHERE
            id=#{id}
    </update>
    <update id="updateVegetablePhoto6">
        UPDATE
            vegetablePhoto
        SET
            str_6=#{str_6}
        WHERE
            id=#{id}
    </update>
    <update id="updateVegetablePhoto7">
        UPDATE
            vegetablePhoto
        SET
            str_7=#{str_7}
        WHERE
            id=#{id}
    </update>
    <update id="updateVegetablePhoto8">
        UPDATE
            vegetablePhoto
        SET
            str_8=#{str_8}
        WHERE
            id=#{id}
    </update>

    <update id="updateCertPhoto">
        UPDATE
            certPhoto
        SET
            certImag=#{certImag}
        WHERE
            id=#{id}
    </update>


    <update id="updateVeTime1">
        UPDATE
            vegetable
        SET
            m1=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateVeTime2">
        UPDATE
            vegetable
        SET
            m2=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateVeTime3">
        UPDATE
            vegetable
        SET
            m3=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateVeTime4">
        UPDATE
            vegetable
        SET
            m4=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateVeTime5">
        UPDATE
            vegetable
        SET
            m5=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateVeTime6">
        UPDATE
            vegetable
        SET
            m6=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateVeTime7">
        UPDATE
            vegetable
        SET
            m7=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateVeTime8">
        UPDATE
            vegetable
        SET
            m8=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateVeTimeHa">
        UPDATE
            vegetable
        SET
            Harvest=#{time}
        WHERE
            id=#{id}
    </update>

    <update id="userDelete">
        UPDATE
            t_user
        SET
            is_delete=#{status}
        WHERE
            uid=#{id}
    </update>

    <select id="findPro" resultType="com.cy.store.entity.Product">
        SELECT
            *
        FROM
            t_product
    </select>

    <select id="findUser" resultType="com.cy.store.entity.User">
        SELECT
            *
        FROM
            t_user
    </select>

    <update id="updateLivestockPhoto1">
        UPDATE
            livestockPhoto
        SET
            lstr_1=#{lstr_1}
        WHERE
            id=#{id}
    </update>
    <update id="updateLivestockPhoto2">
        UPDATE
            livestockPhoto
        SET
            lstr_2=#{lstr_2}
        WHERE
            id=#{id}
    </update>
    <update id="updateLivestockPhoto3">
        UPDATE
            livestockPhoto
        SET
            lstr_3=#{lstr_3}
        WHERE
            id=#{id}
    </update>
    <update id="updateLivestockPhoto4">
        UPDATE
            livestockPhoto
        SET
            lstr_4=#{lstr_4}
        WHERE
            id=#{id}
    </update>
    <update id="updateLivestockPhoto5">
        UPDATE
            livestockPhoto
        SET
            lstr_5=#{lstr_5}
        WHERE
            id=#{id}
    </update>
    <update id="updateLivestockPhoto6">
        UPDATE
            livestockPhoto
        SET
            lstr_6=#{lstr_6}
        WHERE
            id=#{id}
    </update>
    <update id="updateLivestockPhoto7">
        UPDATE
            livestockPhoto
        SET
            lstr_7=#{lstr_7}
        WHERE
            id=#{id}
    </update>
    <update id="updateLivestockPhoto8">
        UPDATE
            livestockPhoto
        SET
            lstr_8=#{lstr_8}
        WHERE
            id=#{id}
    </update>
    <update id="updateLivestockPhoto9">
        UPDATE
            livestockPhoto
        SET
            lstr_9=#{lstr_9}
        WHERE
            id=#{id}
    </update>
    <update id="updateLivestockPhoto10">
        UPDATE
            livestockPhoto
        SET
            lstr_10=#{lstr_10}
        WHERE
            id=#{id}
    </update>
    <update id="updateLivestockPhoto11">
        UPDATE
            livestockPhoto
        SET
            lstr_11=#{lstr_11}
        WHERE
            id=#{id}
    </update>
    <update id="updateLivestockPhoto12">
        UPDATE
            livestockPhoto
        SET
            lstr_12=#{lstr_12}
        WHERE
            id=#{id}
    </update>
    <update id="updateLivestockPhoto13">
        UPDATE
            livestockPhoto
        SET
            lstr_13=#{lstr_13}
        WHERE
            id=#{id}
    </update>
    <update id="updateLivestockPhoto14">
        UPDATE
            livestockPhoto
        SET
            lstr_14=#{lstr_14}
        WHERE
            id=#{id}
    </update>
    <update id="updateLivestockPhoto15">
        UPDATE
            livestockPhoto
        SET
            lstr_15=#{lstr_15}
        WHERE
            id=#{id}
    </update>
    <update id="updateLivestockPhoto16">
        UPDATE
            livestockPhoto
        SET
            lstr_16=#{lstr_16}
        WHERE
            id=#{id}
    </update>
    <update id="updateLivestockPhoto17">
        UPDATE
            livestockPhoto
        SET
            lstr_17=#{lstr_17}
        WHERE
            id=#{id}
    </update>
    <update id="updateLivestockPhoto18">
        UPDATE
            livestockPhoto
        SET
            lstr_18=#{lstr_18}
        WHERE
            id=#{id}
    </update>
    <update id="updateLivestockPhoto19">
        UPDATE
            livestockPhoto
        SET
            lstr_19=#{lstr_19}
        WHERE
            id=#{id}
    </update>
    <update id="updateLivestockPhoto20">
        UPDATE
            livestockPhoto
        SET
            lstr_20=#{lstr_20}
        WHERE
            id=#{id}
    </update>
    <update id="updateLivestockPhoto21">
        UPDATE
            livestockPhoto
        SET
            lstr_21=#{lstr_21}
        WHERE
            id=#{id}
    </update>
    <update id="updateLivestockPhoto22">
        UPDATE
            livestockPhoto
        SET
            lstr_22=#{lstr_22}
        WHERE
            id=#{id}
    </update>
    <update id="updateLivestockPhoto23">
        UPDATE
            livestockPhoto
        SET
            lstr_23=#{lstr_23}
        WHERE
            id=#{id}
    </update>
    <update id="updateLivestockPhoto24">
        UPDATE
            livestockPhoto
        SET
            lstr_24=#{lstr_24}
        WHERE
            id=#{id}
    </update>
    <update id="updateSlaughter_ph">
        UPDATE
            livestockPhoto
        SET
            slaughter_ph=#{slaughter_ph}
        WHERE
            id=#{id}
    </update>

    <update id="updateLvTime1">
        UPDATE
            livestock
        SET
            s1=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateLvTime2">
        UPDATE
            livestock
        SET
            s2=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateLvTime3">
        UPDATE
            livestock
        SET
            s3=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateLvTime4">
        UPDATE
            livestock
        SET
            s4=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateLvTime5">
        UPDATE
            livestock
        SET
            s5=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateLvTime6">
        UPDATE
            livestock
        SET
            s6=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateLvTime7">
        UPDATE
            livestock
        SET
            s7=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateLvTime8">
        UPDATE
            livestock
        SET
            s8=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateLvTime9">
        UPDATE
            livestock
        SET
            s9=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateLvTime10">
        UPDATE
            livestock
        SET
            s10=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateLvTime11">
        UPDATE
            livestock
        SET
            s11=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateLvTime12">
        UPDATE
            livestock
        SET
            s12=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateLvTime13">
        UPDATE
            livestock
        SET
            s13=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateLvTime14">
        UPDATE
            livestock
        SET
            s14=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateLvTime15">
        UPDATE
            livestock
        SET
            s15=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateLvTime16">
        UPDATE
            livestock
        SET
            s16=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateLvTime17">
        UPDATE
            livestock
        SET
            s17=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateLvTime18">
        UPDATE
            livestock
        SET
            s18=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateLvTime19">
        UPDATE
            livestock
        SET
            s19=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateLvTime20">
        UPDATE
            livestock
        SET
            s20=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateLvTime21">
        UPDATE
            livestock
        SET
            s21=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateLvTime22">
        UPDATE
            livestock
        SET
            s22=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateLvTime23">
        UPDATE
            livestock
        SET
            s23=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateLvTime24">
        UPDATE
            livestock
        SET
            s24=#{time}
        WHERE
            id=#{id}
    </update>
    <update id="updateslTime">
        UPDATE
            livestock
        SET
            slaughter_tm=#{time}
        WHERE
            id=#{id}
    </update>

    <update id="updateslName">
        UPDATE
            livestock
        SET
            slaughter_na=#{name}
        WHERE
            id=#{id}
    </update>
</mapper>
