<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.store.mapper.LvPhotoMapper">
    <resultMap id="LvVOEntityMap" type="com.cy.store.vo.LvVO">
        <id column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="item_type" property="itemType"/>
        <result column="sell_point" property="sellPoint"/>
    </resultMap>

    <!-- 根据id查询农产品溯源图片 -->
    <select id="showLvById" resultMap="LvVOEntityMap">
        SELECT
            variety, s1, s2, s3, s4, s5, s6, s7, s8, s9, s10, s11, s12, s13, s14, s15, s16, s17, s18, s19, s20, s21, s22, s23, s24, slaughter_na, slaughter_tm,
            lstr_1, lstr_2, lstr_3, lstr_4, lstr_5, lstr_6, lstr_7, lstr_8, lstr_9, lstr_10, lstr_11, lstr_12, lstr_13,
            lstr_14, lstr_15, lstr_16, lstr_17, lstr_18, lstr_19, lstr_20, lstr_21, lstr_22, lstr_23, lstr_24, slaughter_ph
        FROM
            livestockPhoto, livestock
        WHERE
            livestockPhoto.id=livestock.id AND livestock.id=#{id}
    </select>



    <select id="showSourceById1" resultType="com.cy.store.vo.LiveSourceVO">
        SELECT
            lstr_1 as photo, s1 as time
        FROM
            livestock, livestockPhoto
        WHERE
            livestock.id=livestockPhoto.id AND livestock.id=#{id}
    </select>
    <select id="showSourceById2" resultType="com.cy.store.vo.LiveSourceVO">
        SELECT
            lstr_2 as photo, s2 as time
        FROM
            livestock, livestockPhoto
        WHERE
            livestock.id=livestockPhoto.id AND livestock.id=#{id}
    </select>
    <select id="showSourceById3" resultType="com.cy.store.vo.LiveSourceVO">
        SELECT
            lstr_3 as photo, s3 as time
        FROM
            livestock, livestockPhoto
        WHERE
            livestock.id=livestockPhoto.id AND livestock.id=#{id}
    </select>
    <select id="showSourceById4" resultType="com.cy.store.vo.LiveSourceVO">
        SELECT
            lstr_4 as photo, s4 as time
        FROM
            livestock, livestockPhoto
        WHERE
            livestock.id=livestockPhoto.id AND livestock.id=#{id}
    </select>
    <select id="showSourceById5" resultType="com.cy.store.vo.LiveSourceVO">
        SELECT
            lstr_5 as photo, s5 as time
        FROM
            livestock, livestockPhoto
        WHERE
            livestock.id=livestockPhoto.id AND livestock.id=#{id}
    </select>
    <select id="showSourceById6" resultType="com.cy.store.vo.LiveSourceVO">
        SELECT
            lstr_6 as photo, s6 as time
        FROM
            livestock, livestockPhoto
        WHERE
            livestock.id=livestockPhoto.id AND livestock.id=#{id}
    </select>
    <select id="showSourceById7" resultType="com.cy.store.vo.LiveSourceVO">
        SELECT
            lstr_7 as photo, s7 as time
        FROM
            livestock, livestockPhoto
        WHERE
            livestock.id=livestockPhoto.id AND livestock.id=#{id}
    </select>
    <select id="showSourceById8" resultType="com.cy.store.vo.LiveSourceVO">
        SELECT
            lstr_8 as photo, s8 as time
        FROM
            livestock, livestockPhoto
        WHERE
            livestock.id=livestockPhoto.id AND livestock.id=#{id}
    </select>
    <select id="showSourceById9" resultType="com.cy.store.vo.LiveSourceVO">
        SELECT
            lstr_9 as photo, s9 as time
        FROM
            livestock, livestockPhoto
        WHERE
            livestock.id=livestockPhoto.id AND livestock.id=#{id}
    </select>
    <select id="showSourceById10" resultType="com.cy.store.vo.LiveSourceVO">
        SELECT
            lstr_10 as photo, s10 as time
        FROM
            livestock, livestockPhoto
        WHERE
            livestock.id=livestockPhoto.id AND livestock.id=#{id}
    </select>
    <select id="showSourceById11" resultType="com.cy.store.vo.LiveSourceVO">
        SELECT
            lstr_11 as photo, s11 as time
        FROM
            livestock, livestockPhoto
        WHERE
            livestock.id=livestockPhoto.id AND livestock.id=#{id}
    </select>
    <select id="showSourceById12" resultType="com.cy.store.vo.LiveSourceVO">
        SELECT
            lstr_12 as photo, s12 as time
        FROM
            livestock, livestockPhoto
        WHERE
            livestock.id=livestockPhoto.id AND livestock.id=#{id}
    </select>
    <select id="showSourceById13" resultType="com.cy.store.vo.LiveSourceVO">
        SELECT
            lstr_13 as photo, s13 as time
        FROM
            livestock, livestockPhoto
        WHERE
            livestock.id=livestockPhoto.id AND livestock.id=#{id}
    </select>
    <select id="showSourceById14" resultType="com.cy.store.vo.LiveSourceVO">
        SELECT
            lstr_14 as photo, s14 as time
        FROM
            livestock, livestockPhoto
        WHERE
            livestock.id=livestockPhoto.id AND livestock.id=#{id}
    </select>
    <select id="showSourceById15" resultType="com.cy.store.vo.LiveSourceVO">
        SELECT
            lstr_15 as photo, s15 as time
        FROM
            livestock, livestockPhoto
        WHERE
            livestock.id=livestockPhoto.id AND livestock.id=#{id}
    </select>
    <select id="showSourceById16" resultType="com.cy.store.vo.LiveSourceVO">
        SELECT
            lstr_16 as photo, s16 as time
        FROM
            livestock, livestockPhoto
        WHERE
            livestock.id=livestockPhoto.id AND livestock.id=#{id}
    </select>
    <select id="showSourceById17" resultType="com.cy.store.vo.LiveSourceVO">
        SELECT
            lstr_17 as photo, s17 as time
        FROM
            livestock, livestockPhoto
        WHERE
            livestock.id=livestockPhoto.id AND livestock.id=#{id}
    </select>
    <select id="showSourceById18" resultType="com.cy.store.vo.LiveSourceVO">
        SELECT
            lstr_18 as photo, s18 as time
        FROM
            livestock, livestockPhoto
        WHERE
            livestock.id=livestockPhoto.id AND livestock.id=#{id}
    </select>
    <select id="showSourceById19" resultType="com.cy.store.vo.LiveSourceVO">
        SELECT
            lstr_19 as photo, s19 as time
        FROM
            livestock, livestockPhoto
        WHERE
            livestock.id=livestockPhoto.id AND livestock.id=#{id}
    </select>
    <select id="showSourceById20" resultType="com.cy.store.vo.LiveSourceVO">
        SELECT
            lstr_20 as photo, s20 as time
        FROM
            livestock, livestockPhoto
        WHERE
            livestock.id=livestockPhoto.id AND livestock.id=#{id}
    </select>
    <select id="showSourceById21" resultType="com.cy.store.vo.LiveSourceVO">
        SELECT
            lstr_21 as photo, s21 as time
        FROM
            livestock, livestockPhoto
        WHERE
            livestock.id=livestockPhoto.id AND livestock.id=#{id}
    </select>
    <select id="showSourceById22" resultType="com.cy.store.vo.LiveSourceVO">
        SELECT
            lstr_22 as photo, s22 as time
        FROM
            livestock, livestockPhoto
        WHERE
            livestock.id=livestockPhoto.id AND livestock.id=#{id}
    </select>
    <select id="showSourceById23" resultType="com.cy.store.vo.LiveSourceVO">
        SELECT
            lstr_23 as photo, s23 as time
        FROM
            livestock, livestockPhoto
        WHERE
            livestock.id=livestockPhoto.id AND livestock.id=#{id}
    </select>
    <select id="showSourceById24" resultType="com.cy.store.vo.LiveSourceVO">
        SELECT
            lstr_24 as photo, s24 as time
        FROM
            livestock, livestockPhoto
        WHERE
            livestock.id=livestockPhoto.id AND livestock.id=#{id}
    </select>
    <select id="showSlSourceById" resultType="com.cy.store.vo.LiveSourceVO">
        SELECT
            slaughter_ph as photo, slaughter_tm as time, slaughter_na as slname
        FROM
            livestock, livestockPhoto
        WHERE
            livestock.id=livestockPhoto.id AND livestock.id=#{id}
    </select>
</mapper>