<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.store.mapper.OrderMapper">
    <!-- 插入订单数据：Integer insertOrder(Order order) -->
    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="oid">
        INSERT INTO t_order (
            uid, recv_name, recv_phone,
            total_price, order_time, created_user, created_time, modified_user,
            modified_time
        ) VALUES (
            #{uid}, #{recvName}, #{recvPhone},
            #{totalPrice}, #{orderTime}, #{createdUser},
            #{createdTime}, #{modifiedUser}, #{modifiedTime}
        )
    </insert>

    <!-- 插入订单商品数据：Integer insertOrderItem(OrderItem orderItem) -->
    <insert id="insertOrderItem" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_order_item (
            oid, pid, title, price, num, created_user,
            created_time, modified_user, modified_time
        ) VALUES (
            #{oid}, #{pid}, #{title}, #{price}, #{num}, #{createdUser},
            #{createdTime}, #{modifiedUser}, #{modifiedTime}
        )
    </insert>

    <select id="getVOByUid" resultType="com.cy.store.vo.OrderVO">
        SELECT
            t_order.oid,
            t_order.uid,
            t_order_item.pid,
            recv_name,
            recv_phone,
            total_price,
            order_time,
            title,
            price,
            num
        FROM
            t_order
                LEFT JOIN t_order_item ON t_order.oid = t_order_item.oid
        WHERE
            uid=#{uid}
        ORDER BY
            t_order.created_time DESC
    </select>

    <update id="updateProductNum">
        UPDATE
            t_product
        SET
            num = #{renum}
        WHERE
            id = #{pid};
    </update>

    <delete id="deleteOrder">
        DELETE
        FROM
            t_order
        WHERE
            oid=#{oid}
    </delete>
</mapper>