<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.store.mapper.ProductMapper">
    <resultMap id="ProductEntityMap" type="com.cy.store.entity.Product">
        <id column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="item_type" property="itemType"/>
        <result column="sell_point" property="sellPoint"/>
        <result column="created_user" property="createdUser"/>
        <result column="modified_time" property="modifiedTime"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_user" property="modifiedUser"/>
    </resultMap>


    <select id="findByName" resultType="com.cy.store.entity.Pro">
        SELECT
            id, category_id, title, price, image1
        FROM
            t_product
        WHERE
            title like CONCAT('%', #{tit}, '%') AND status = 1;
    </select>

    <!-- 根据商品id查询农商品详情 -->
    <select id="findById" resultMap="ProductEntityMap">
        SELECT
            *
        FROM
            t_product
        WHERE
            id=#{id}
    </select>
    

    <select id="findVeDetail" resultType="com.cy.store.entity.Vegetable">
        SELECT
            *
        FROM
            vegetable
        WHERE
            id=#{id}
    </select>

    <select id="findLvDetail" resultType="com.cy.store.entity.Livestock">
        SELECT
            *
        FROM
            livestock
        WHERE
            id=#{id}
    </select>

    <update id="updateStatus">
        UPDATE
            t_product
        SET
            status=#{status}
        WHERE
            id=#{id}
    </update>

</mapper>