<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.store.mapper.VePhotoMapper">
    <resultMap id="VeVOEntityMap" type="com.cy.store.vo.VeVO">
        <id column="id" property="id"/>
    </resultMap>

    <!-- 根据id查询农产品溯源信息 -->
    <select id="showVeById" resultMap="VeVOEntityMap">
        SELECT
            Head, m1, m2, m3, m4, m5, m6, m7, m8, Harvest, str_1, str_2, str_3, str_4, str_5, str_6, str_7, str_8, certImage
        FROM
            vegetablePhoto, vegetable, certPhoto
        WHERE
            vegetable.id=vegetablePhoto.id AND vegetable.id=certPhoto.id AND vegetable.id=#{id}
    </select>

</mapper>
